<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<meta charset="utf-8"/>
	<title>首页</title>
	<meta content="" name="description" />
	<meta content="" name="author" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link th:href="@{/commerce/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/commerce/assets/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
	<link th:href="@{/commerce/assets/css/style.min.css}" rel="stylesheet" />
	<link th:href="@{/commerce/assets/css/card.min.css}" rel="stylesheet" />
	<link th:href="@{/commerce/assets/css/style-responsive.min.css}" rel="stylesheet" />
	<link th:href="@{/commerce/assets/css/theme/default.css}" id="theme" rel="stylesheet" />
	<link th:href="@{/commerce/assets/css/animate.min.css}" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script th:src="@{/commerce/assets/plugins/pace/pace.min.js}"></script>
	<!-- ================== END BASE JS ================== -->
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link th:href="@{/commerce/assets/plugins/lightbox/css/lightbox.css}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	<!-- 老字号-->
	<!-- hy-->
	<script th:src="@{/js/hy.js}"></script>
	<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
	<style type="text/css">
		.productIcon{
			height: 230px;
			max-width: 330px;
			padding: 2px;
		}
		.productIcon a img {
			height: 100%;
			max-width: 100%;
			border-radius: 5px 5px 0 0;
			box-shadow: 0 6px 15px -6px #000;
		}
		.zyLogo{
			max-width: 50px;
			max-height: 50px;
			box-shadow: 0 5px 5px -4px #000;
			float: left;
			margin: -5px 15px 1px 10px;
		}
	</style>
</head>
<body>
	<!-- BEGIN #page-container -->
	<div id="page-container" class="fade">

		<div id="header" class="header">
			<!-- BEGIN container -->
			<div class="container">
				<!-- BEGIN header-container -->
				<div class="header-container">
					<!-- BEGIN navbar-header -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<div class="header-logo">
							<a href="index">
								<img id="company-header-logo" th:src="@{/commerce/assets/img/logo-1.png}" class="zyLogo" alt=""/>
								<span>宣城</span>中意广告
								<small>您身边的专业广告公司</small>
							</a>
						</div>
					</div>
					<!-- END navbar-header -->
					<!-- BEGIN header-nav -->
					<div class="header-nav">
						<div class=" collapse navbar-collapse" id="navbar-collapse">
							<ul class="nav">
								<li class="active"><a href="index">公司首页</a></li>
								<li><a href="index">公司简介</a></li>
								<li class="dropdown dropdown-hover">
									<a href="#" data-toggle="dropdown">
										产品展示
										<i class="fa fa-angle-down"></i>
										<span class="arrow top"></span>
									</a>
									<ul class="dropdown-menu" id="product-menu">
									</ul>
								</li>
								<li><a href="news">新闻中心</a></li>
								<li><a href="contactUS">联系我们</a></li>
							</ul>
						</div>
					</div>
					<!-- END header-nav -->
				</div>
				<!-- END header-container -->
			</div>
			<!-- END container -->
		</div>
		<!-- begin #content -->
		<div id="content" class="content">
			<div layout:fragment="content">
			</div>
		</div>
		<!-- end #content -->
	<!--</div>-->
	<!-- end page container -->
	<!-- BEGIN #footer -->
	<div id="footer" class="footer">
		<!-- BEGIN container -->
		<div class="container">
			<!-- BEGIN row -->
			<div class="row">
				<!-- BEGIN col-3 -->

				<div class="col-md-3">
					<div class="card" style="background-color: transparent;margin: 25px;" id="company-footer-logo">
					</div>
				</div>

				<!-- END col-3 -->
				<!-- BEGIN col-3 -->
				<div class="col-md-3">
					<h4 class="footer-header">关于我们</h4>
					<p>
						是一家集网络新媒体、广告代理、营销策划、文化交流、展览拍卖于一体的文化传播公司。公司自成立以来，致力于对中国传统文化的传播与交流，以与时俱进的理念，强大的网络平台、专业的制作团队、熟悉市场的营销队伍以及独具特色的传播渠道，竭力打造中国传统文化新形象，开拓中国传统技艺新市场，传播中国传统文化新理念，让世界感知，了解，热爱中国传统文化。
					</p>
					<p>
						坚持“诚信、务实、创新、超越”的核心价值观，全面贯彻“以零缺陷为最终目标，以高质量为起点要求”的服务宗旨，以“双赢才能合作，合作才能发展”的发展策略，以“人无我有，人有我精”的创新理念。
					</p>
				</div>
				<!-- END col-3 -->
				<!-- BEGIN col-3 -->
				<div class="col-md-3">
					<h4 class="footer-header">企业文化</h4>
					<ul class="fa-ul">
						<li><i class="fa fa-li fa-angle-right"></i> 核心价值观：诚信、务实、创新、超越</li>
						<li><i class="fa fa-li fa-angle-right"></i> 企业使命：让世界感知，了解，热爱中国传统文化</li>
						<li><i class="fa fa-li fa-angle-right"></i> 企业愿景： 打造最具影响力的文化品牌——“不留名文化”</li>
						<li><i class="fa fa-li fa-angle-right"></i> 经营理念： 没有最好，只有更好</li>
						<li><i class="fa fa-li fa-angle-right"></i> 服务理念： 以零缺陷为最终目标，以高质量为起点要求</li>
						<li><i class="fa fa-li fa-angle-right"></i> 企业哲学： 信誉重于效益，效率重于回报</li>
						<li><i class="fa fa-li fa-angle-right"></i> 人才理念： 以人为本，德才双馨</li>
					</ul>
				</div>
				<!-- END col-3 -->
				<!-- BEGIN col-3 -->
				<div class="col-md-3">
					<h4 class="footer-header">联系方式</h4>
					<address id="company-address">
					</address>
				</div>
				<!-- END col-3 -->
			</div>
			<!-- END row -->
		</div>
		<!-- END container -->
	</div>
	<!-- END #footer -->

	<!-- BEGIN #footer-copyright -->
	<div id="footer-copyright" class="footer-copyright">
		<!-- BEGIN container -->
		<div class="container">
			<div class="payment-method" id="company-copyright">
			</div>
			<div class="copyright">
				Copyright &copy; 2017-2019 All rights reserved.
			</div>
		</div>
		<!-- END container -->
	</div>
<!-- END #footer-copyright -->
</div>
<!-- END #page-container -->

<!-- ================== BEGIN BASE JS ================== -->
<script th:src="@{/commerce/assets/plugins/jquery/jquery-1.9.1.min.js}"></script>
<script th:src="@{/commerce/assets/plugins/jquery/jquery-migrate-1.1.0.min.js}"></script>
<script th:src="@{/commerce/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
<!--[if lt IE 9]>
<script th:src="@{/commerce/assets/crossbrowserjs/html5shiv.js}"></script>
<script th:src="@{/commerce/assets/crossbrowserjs/respond.min.js}"></script>
<script th:src="@{/commerce/assets/crossbrowserjs/excanvas.min.js}"></script>
<![endif]-->
<script th:src="@{/commerce/assets/plugins/jquery-cookie/jquery.cookie.js}"></script>
<script th:src="@{/commerce/assets/plugins/lightbox/js/lightbox.min.js}"></script>
<script th:src="@{/commerce/assets/js/apps.min.js}"></script>

<!-- ================== END BASE JS ================== -->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var basePath = /*[[@{/}]]*/;
    /*]]>*/
    $(document).ready(function() {
        doQueryProduct();
        App.init();
    });
</script>
</body>
</html>
