<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.hy.app.company.news.dao.INewsDao">
    <select id="queryNewsList"
            resultType="com.hy.app.company.news.entity.News">
        SELECT
        p.news_id, p.news_name, p.news_title, p.create_time,share_img
        FROM t_news p order by p.create_time desc
    </select>
    <select id="queryNewsById" parameterType="java.lang.Long"
            resultType="com.hy.app.company.news.entity.News">
        SELECT
        news_id, news_name, news_title, create_time,news_content,share_img
        FROM t_news where news_id=#{newsId}
    </select>

    <!-- insert -->
    <insert id="insertNews"
            parameterType="com.hy.app.company.news.entity.News">
        INSERT INTO
        t_news(news_id, news_name, news_title, news_content, create_time)
        VALUES
        (#{newsId},#{newsName},#{newsDesc},#{createTime})
    </insert>

    <!-- insert -->

    <!-- delete -->
    <delete id="deleteNews"
            parameterType="com.hy.app.company.news.entity.News">
        delete from t_news where news_id=#{newsId}
    </delete>
    <!-- delete -->
</mapper>